.col {
    height: 150px;
    margin: 20px;
    cursor: pointer;
}

.row {
    margin-top: 20px;
    background-color: #E0EEEE;
}

h5,h4,h6 {
    margin-top: 15px;
}

i {
    margin-top: 20px;
}
.report{
    border-radius: 10px;
}