.box {
    padding: 20px;
    margin: 30px 10px;
    border-radius: 10px;
    border: 2px black solid;
    background-color: #f8f7f3;
}

.mybox {
    padding: 20px 50px;
}

.table,
td,
tr,
th {
    border: 2px black solid;
}

thead {
    background-color: #efb4b4;
}
table{
    margin-top: 20px;
}