td,
th {
    text-align: center;
}

tr {
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: yellow;
    cursor: pointer;
    margin: 0px 10px;
}

.highlight {
    background-color: cyan;
}