table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
tr,
td {
    border: 2px solid black;
}

th,
td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #f2f2f2;
}

input,
select {
    display: block;
    margin-top: 12px;
}

textarea {
    display: block;
    margin-bottom: 10px;
}

.inner-div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: green;
}

.inner-div2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: green;
}

.col {
    opacity: 0.65;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #decbe2;
    cursor: pointer;
    margin: 0px 10px;
    border-radius: 5px;
}

.highlight {
    opacity: 1;
    background-color: cyan;
}

.row {
    padding-top: 20px;
}

.box {
    margin-top: 50px;
    padding: 10px 30px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: #f9f2f2;
    min-height: 30vh;
}

#content {
    padding: 20px;
    margin: 20px 0px;
}

thead {
    background-color: #efb4b4;
}