table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #f2f2f2;
}

input,
select {
    display: block;
    margin-top: 12px;
}

textarea {
    display: block;
    margin-bottom: 10px;
}

.inner-div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: green;
}

.inner-div2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: green;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: yellow;
    cursor: pointer;
    margin: 0 10px;
}

.highlight {
    background-color: cyan;
}
.row{
    padding-top: 20px;
}