.info{
    margin: 20px 0px;
}
.option{
    margin: 20px 0px ;
    display: flex;
    justify-content: center;
}
.btnoption{
    padding: 5px 15px;
    margin: 0px 10px;
}
.table,td,tr,th{
    border: 2px black solid;
}
thead{
    background-color:#efb4b4;
}