img {
    width: 100px;
    height: auto;
}

table {
    text-align: center;
}

tr {
    cursor: pointer;
}

.divview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divview img {
    display: block;
    margin: auto;
}

.divview button {
    margin-top: 10px;
}