table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    justify-content: center;
    justify-items: center;
}

.divtb {
    display: flex;
    justify-content: center;
}

img {
    width: 20%;
    height: auto;
}

.hidden {
    display: none;
}

a {
    margin: 5px;
}

span {
    margin-left: 10px;
}