#img_detail {
    width: 70%;
}

.box {
    width: 60px;
    height: 40px;
    background-color: red;
}

.box-color {
    width: 60px;
    height: 40px;
    background-color: red;
}

.row {
    padding-bottom: 20px;
}

.myhr {
    border: none;
    height: 4px;
    background-color: #888181;
    /* margin: 0 auto; */
    width: 90%;
}
/* can css lai  */