ul {
    justify-content: center;
    justify-items: center;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

b {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #453d35;
    opacity: 0.75;
}

.link {
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
}

#input {
    padding-top: 10px;
    /* display: flex; */
    width: 60%;
}

#button-addon2 {
    margin-left: 20px;
}

#vocher {
    font-size: 20px;
}

.footer {
    height: auto;
    background-image: linear-gradient(#ffdbc7, #ffbbe9);
}

h6 {
    margin-left: 2px;
    color: rgb(190, 73, 73);
    font-family: Arial, sans-serif;
}

/* #notifi {
    clear: both;
} */

/* .myli {
    margin: 10px 10px;
} */