#myNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-image: linear-gradient(#ffdbc7, #ffbbe9);
}

:root {
    --primary: #ffff;
    --secondary: #efe4d3;
}

.dropdown {
    width: 100%;
    position: relative;
    color: rgb(0, 0, 0);
    border-radius: 4px;

}

.dropdown__select {
    border-radius: inherit;
}

.dropdown__list {
    padding-left: 0px;
    margin-top: 0.5rem;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
}

.dropdown__list:before {
    content: "";
    height: 25px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);
}

.dropdown:hover .dropdown__list {
    display: block;
}
.dropdown:hover .dropdown__select {
    color: #ffff;
}

.dropdown__select {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown__item {
    margin: 0px;
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown__item {
    transition: background-color 0.2s linear;
}

.dropdown__item:first-child {
    border-radius: 4px 4px 0 0;
    position: relative;
}

.dropdown__item:first-child:hover:before {
    border-bottom-color: var(--secondary);
}

.dropdown__item:last-child {
    border-radius: 0 0 4px 4px;
}

/* .dropdown__select:hover{

} */
.dropdown__item:hover {
    background-color: var(--secondary);
}

.custom-search-button {
    background-color: #fff;
    border: none;
    padding: 8px;
    font-size: 14px;
    min-width: 50px;
}

.custom-search-button:hover {
    background-color: #eee;
}

.custom-search-button i {
    color: #4222e2;
}

.custom-search-input {
    min-width: 300px;
}

.myimg {
    border-radius: 50%;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #ffff;
}

.span:hover {
    color: red;
}
